html{
    height: 100vh;
    width: 98.8282vw;
}

body{
    height: 100vh;
    width: 98.8282vw;
    margin: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-family: 'Orbitron', sans-serif;
}

.container{
    height: 458vh;
    width: 98.8282vw;
    display: flexbox;
    /* degrade fundo */
    background: linear-gradient(
    180deg,
    #060B2E 0%,
    #0B1A4A 30%,
    #1B2A6B 55%,
    #6A1BB9 80%,
    #8F2DFF 100%
)
}

.nav-bar{
    height: 16vh;
    width: 98.8282vw;
    background-color: #062077;
    display: flex;
}

.Logo{
    height: 200px;
}


.atracoes {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 20px;
  margin-bottom: 40px;
}

.foto {
  background: rgba(10, 15, 60, 0.85);
  border-radius: 18px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 20px rgba(143, 45, 255, 0.25);
}

.foto h3{
    font-size: 22px;
}

.img {
  width: 100%;
  border-radius: 14px;
  margin-bottom: 12px;
}

.titulo {
  font-size: 14px;
  letter-spacing: 1px;
  margin-bottom: 12px;
  color: white;
}

.btn {
  padding: 10px 22px;
  border-radius: 30px;
  border: none;
  background: linear-gradient(90deg, #6A1BB9, #8F2DFF);
  color: #fff;
  font-weight: bold;
  cursor: pointer;
  transition: transform 0.3s ease; 
}
.video-overlay button:hover {
  transform: scale(1.1); 
}


.topo {
  width: 94.141vw;
  background: linear-gradient(180deg, #050816, #0B1A4A);
  padding: 15px 30px;
}

.topo-container {
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 20vh;
}


.menu {
  display: flex;
  align-items: center;
  gap: 8px;
}

.menu a {
  color: #ffffff;
  text-decoration: none;
  font-size: 20px;
  letter-spacing: 1px;
}

.menu span {
  color: #6A1BB9;
}


.logo img {
  height: 250px;
}


.btn-ingresso {
  padding: 10px 18px;
  border-radius: 6px;
  border: none;
  background: linear-gradient(90deg, #6A1BB9, #8F2DFF);
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}


/* ANIMAÇAO BOTOES */
.btn-ingresso {
  position: relative;
  overflow: hidden;
}

.btn-ingresso::before {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: linear-gradient(
    120deg,
    transparent,
    rgba(255, 255, 255, 0.6),
    transparent
  );
  transition: 0.6s;
}

.btn-ingresso:hover::before {
  left: 100%;
}
/*  */
@keyframes pulse {
  0% {
    box-shadow: 0 0 0 0 rgba(143, 45, 255, 0.7);
  }
  70% {
    box-shadow: 0 0 0 18px rgba(143, 45, 255, 0);
  }
  100% {
    box-shadow: 0 0 0 0 rgba(143, 45, 255, 0);
  }
}

.btn-ingresso {
  animation: pulse 2s infinite;
}
/*  */
.btn-ingresso {
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.btn-ingresso:hover {
  transform: scale(1.08) rotateX(6deg);
  box-shadow: 0 10px 30px rgba(143, 45, 255, 0.6);
}
/*  */
.btn-ingresso:active {
  transform: scale(0.95);
  box-shadow: 0 4px 10px rgba(0,0,0,0.6);
}

/* FIM ANIMAÇAO BOTOES */



.carrossel {
  max-width: 900px;
  margin: auto;
  overflow: hidden;
}

.carrossel-track {
  display: flex;
  width: 100%;
  transition: transform 0.6s ease;
}


.carrossel-item {
  width: 100%;
  flex-shrink: 0;
}

.carrossel-item img {
  width: 100%;
  border-radius: 20px;
  max-height: 400px;
}

#slide1:checked ~ .carrossel .carrossel-track {
  transform: translateX(0);
}

#slide2:checked ~ .carrossel .carrossel-track {
  transform: translateX(-100%);
}

#slide3:checked ~ .carrossel .carrossel-track {
  transform: translateX(-200%);
}


.carrossel-nav {
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 15px;
  margin-bottom: 20px;
}

.carrossel-nav label {
  width: 12px;
  height: 12px;
  background: rgba(255,255,255,0.4);
  border-radius: 50%;
  cursor: pointer;
}

.carrossel-nav label:hover{
    opacity: 0.6;
}

input[type="radio"] {
  display: none;
}

.destaques-titulo{
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
}






.eventos {
  background: linear-gradient(180deg, #0a1b5a, #152f8f);
  padding: 60px 20px;
  text-align: center;
  color: #fff;
}

.eventos h2 {
  font-size: 22px;
  margin-bottom: 40px;
  letter-spacing: 1px;
}

.card {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.evento {
  background: #98bae8;
  color: #000;
  width: 280px;
  border-radius: 16px;
  padding: 20px;
}

.evento img {
  width: 100%;
  border-radius: 12px;
}

.evento h3 {
  font-size: 16px;
  margin: 15px 0 5px;
}

.evento span {
  font-weight: bold;
  font-size: 14px;
}

.evento p {
  font-size: 13px;
  margin: 10px 0 20px;
}

.evento button {
  background: #6a00ff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 20px;
  cursor: pointer;
}

.evento button:hover {
  opacity: 0.9;
}

.footer {
  margin-top: 40px;
}

.footer p {
  margin-bottom: 15px;
  font-size: 14px;
  color: rgb(255, 255, 255);
}

.icons {
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 22px;
}

.video {
  position: relative;
  overflow: hidden;
}

.video video {
  width: 100%;
  height: 50%;
  object-fit: cover;
  filter: brightness(0.6) contrast(1.2);
}


.video-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(
    180deg,
     rgba(15, 20, 80, 0.85)
    rgba(13, 40, 243, 0.6),
  );

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  color: #fff;
  text-align: center;
}

.video-overlay h1 {
  font-size: 56px;
  letter-spacing: 4px;
  margin-bottom: 10px;
}

.video-overlay p {
  font-size: 18px;
  margin-bottom: 25px;
  color: #cfcfff;
}

.video-overlay button {
  padding: 14px 30px;
  border-radius: 30px;
  border: none;
  font-weight: bold;
  background: linear-gradient(90deg, #6A1BB9, #8F2DFF);
  color: white;
  cursor: pointer;
}

footer {
    background: linear-gradient(180deg, #0a1b5a, #0b2ea8);
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    width: 92.5789vw;
    display: flex;

}

.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;  
    gap: 170px;
}

.footer-container p {
  width: 100%;
    cursor: pointer;
}

.Footer-Social 
 a {
    margin-right: 10px;
    font-size: 20px;
    color: #000;
    text-decoration: none;
}

.Footer-Social 
a:hover {
    color: #0073e6;
}


    
@media (max-width : 425px){
  .topo {
  padding: 10px 20px;
  width: 90.7%;
}

.topo-container {
  flex-direction: row;
  height: auto;
  gap: 10px;
}


.btn-ingresso {
    padding: 2px 4px;
    font-size: 7px;
    height: 30px;
    width: 60px;
}
.menu {
  justify-content: center;
  font-size: 16px;
}

.menu a{
    font-size: 10px;
}

.logo img {
  height: 50px;
}


  .video video {
    height: 60vh;
  }

  .video-overlay h1 {
    font-size: 34px;
    letter-spacing: 2px;
  }

  .video-overlay p {
    font-size: 14px;
  }
  
  
  
  .logo{
        height: 3;
    }
.atracoes {
    grid-template-columns: 1fr;
    padding: 20px;
  }

  .foto h3 {
    font-size: 18px;
  }

   .carrossel {
    max-width: 100%;
    padding: 0 10px;
  }

  .carrossel-item img {
    max-height: 250px;
  }

  .destaques-titulo {
    font-size: 18px;
    text-align: center;
    padding: 0 10px;
  }

  
  .eventos {
    padding: 40px 15px;
  }

  .eventos h2 {
    font-size: 18px;
  }

  .card {
    flex-direction: column;
    align-items: center;
  }

  .evento {
    width: 100%;
    max-width: 320px;
  }
footer {
    background: linear-gradient(180deg, #0a1b5a, #0b2ea8);
    padding: 40px;
    font-family: Arial, sans-serif;
    color: #ffffff;
    width: 80.2vw;
    display: flex;
}

    

}